<!DOCTYPE html>
<html>
<head>
  <title>Creator</title>
  <%= stylesheet_link_tag    "creator/application", media: "all" %>
  <%= javascript_include_tag "creator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
